# Dataset
Collections/

# Training logs
runs/
training_log.csv

# macOS and Python cache
.DS_Store
*.pyc
__pycache__/

# Virtual environment
ssl-venv/

# Large pretrained weights
Weights/
img_predictions/